<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <add key="TargetDriver" value="Chrome"/>
    <add key="TestCaseLogPath" value="..\..\Logs\"/>
    <add key="TestResultLogPath" value="..\..\TestResult\"/>
    <add key="ScreenshotsPath" value="..\..\Screenshots\"/>
    <add key="IEDriverServerPath" value="..\..\Lib"/>
    <add key="ChromeDriverServerPath" value="D:\Work\Icodeon\CloudPOC\CloudPOC\UITests\Lib\"/>
    <add key="TestDataPath" value="..\..\TestData\TestData.xml"/>
    <add key="TestRunCount" value="1"/>
    <add key="DriverPageLoadTimeout" value="30"/>
    <add key="DriverWebElementTimeout" value="30"/>
    
  </appSettings>
</configuration>
