<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
		<add key="QueueName" value="Demo-Queue"/>
		<add key="Delimiter" value=","/>
		<add key="LogInfoFilePath" value="D:\\Log.txt"/>
		<add key="LogExceptionFilePath" value="D:\\Exception.txt"/>		
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
